// Theme Set
$minimal_1: #eae7cd;
$minimal_2: #d8c3a5;
$minimal_3: #8e8d8a;
$minimal_4: #e98074;
$minimal_5: #e85a4f;

// Theme set 3 - sleek
$sleek_1: #2c3531;
$sleek_2: #116466;
$sleek_3: #d9b08c;
$sleek_4: #ffcb9a;
$sleek_5: #d1e8e2;

// dominate, sub, accent, secondsub, secondaccent

$dominate: $minimal_1;
$subdom: $minimal_3;
$accent: $minimal_5;
$secondSub: $sleek_2;
$secondAccent: $minimal_4; // Looks good with text