#content {
    width: 100%;
    overflow-y: scroll;
}

.home {
    background-color: grey;
    height: 100%;
}

.about {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 5rem;
}

.pathContainer {
    width: 50%;
    position: relative;
}

#pathTitle {
    margin-top: 1.5rem;
    font-size: 3.5rem;
    color: $subdom;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
    background-color: $dominate;
}

.langImg {
    width: 100%;
}
.aboutMeContainer {
    padding: 0rem 5rem;
    width: 40%
}

#aboutMeHeader {
    display: inline-block;
    font-size: 5rem;
    font-weight: 900;
    margin-top: 1rem;

    span {
        font-size: 5rem;
        font-weight: 900;
        color: $accent;
    }
}

#aboutMeText {
    p {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        line-height: 200%;
    }
}

.allJourneys {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.journeyOuterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        text-align: center;
        font-size: 2.5rem;
        color: $secondAccent;
        width: 35%;
    }
    width: 80%;
}

.journeyTitle {
    font-size: 2.5rem;
    margin: 1rem 0rem;
}

.journeyText {
    font-size: 1.5rem;
}