@import "./styling/colors.scss";

.panel {
  background-color: $dominate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  border: 1px black solid;
  width: 30rem; 
}

.menu {
  height: 55%;
  display: flex;
  flex-direction: column; 
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.menuOption {
  font-size: 2rem;
  display: inline-block;
  padding:1rem;
  border-radius: 3rem;
  background-color: $secondAccent;
}

.panelItem {
  width: 100%;
  border: 1px black solid;
}

#thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35%;
}

#smallPic {
  width: 80%;
  background-color: $accent;
  height: 15rem;
}

#menuContacts {
  height: 15%;
}

.content {
  width: 100%;
}



