@import "../styling/panel.scss";
@import "../styling/content.scss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Playfair+Display:wght@400;700&display=swap');
@import "../styling/progressBar.scss";

* {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Merriweather', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app {
  position: relative;
  display: flex;
  // min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  align-items: stretch;
}

#journeyContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 102, 102, 0.75);
  display: flex;
  justify-content:center;
  align-items: center;
  z-index: -1;
}

#journey {
  width: 70%;
  height:70%;
  border: .5rem solid black;
  background-color: blue;
}
